@font-face {
  font-family: 'graphik';
  font-weight: normal;
  src: url('../fonts/Graphik-Regular.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: 500;
  src: url('../fonts/Graphik-Semibold.otf');
}

@font-face {
  font-family: 'graphik';
  font-weight: bold;
  src: url('../fonts/Graphik-Bold.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: 300;
  src: url('../fonts/Publico-Light.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: normal;
  src: url('../fonts/PublicoText-Roman.otf');
}

@font-face {
  font-family: 'publico';
  font-weight: bold;
  src: url('../fonts/Publico-Bold.otf');
}

@font-face {
  font-family: 'lyon';
  font-weight: normal;
  src: url('../fonts/Lyon/Lyon Text-Regular.otf');
}

@font-face {
  font-family: 'bruneldeck';
  font-weight: normal;
  src: url('../fonts/BrunelDeck/BrunelDeck-Semibold.otf');
}

@font-face {
  font-family: 'lyondisplay';
  font-weight: normal;
  src: url('../fonts/LyonDisplay/LyonDisplay-Regular.otf');
}

@font-face {
  font-family: 'bruneldeckblack';
  font-weight: normal;
  src: url('../fonts/BrunelDeck/BrunelDeck-Black.otf');
}

@font-face {
  font-family: 'bruneldeckbold';
  font-weight: normal;
  src: url('../fonts/BrunelDeck/BrunelDeck-Bold.otf');
}
