<!DOCTYPE html>
<html lang="fr-CA">
<head>
  <!--
    SCROLLYTELLING LE DEVOIR

    Gabarit pour scrollytelling à utiliser au Devoir.

    Développé par:
      - Jean-Philippe Corbeil (jpcorbeil@ledevoir.com)
      - Antoine Béland (abeland@ledevoir.com)
  -->

  <title><%= htmlWebpackPlugin.options.title %> | Le Devoir</title><!-- Titre de l'onglet (ne pas modifier) -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--
    Le processus pour les métas va comme suit:

    1 - Faire une page small.jpg pour les réseaux sociaux et le partage.
    2 - Mettre cette image dans le dossier assets/img.
    3 - Mettre à jour les informations dans le fichier 'config.json'.

    * Généralement fait une fois que le code est prêt à être publié.
    ** NE PAS MODIFIER LES MÉTAS DIRECTEMENT DANS LE FICHIER INDEX.HTML **
  -->
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta property="og:url" content="<%= htmlWebpackPlugin.options.url %>">
  <meta property="og:site_name" content="Le Devoir">
  <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta property="og:type" content="article">
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.image %>">
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.description %>">

  <meta property="article:publisher" content="https://www.facebook.com/ledevoir">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ledevoir">
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.description %>">
  <meta name="twitter:creator" content="Le Devoir">
  <!-- at least 280px x 150px for Twitter (image must be < 1MB) -->
  <meta name="twitter:image:src" content="<%= htmlWebpackPlugin.options.image %>">
  <meta name="twitter:domain" content="https://ledevoir.com">
  <%= htmlWebpackPlugin.options.authorMetas %>

  <script>
    var dataLayer = [{
      pageTitle: "<%= htmlWebpackPlugin.options.title %>" + " | Le Devoir",
      siteSection: "visualisation",
      articleAuthor: "<%= htmlWebpackPlugin.options.authorsGA %>",
      articleName: "<%= htmlWebpackPlugin.options.title %>"
    }];
  </script>
</head>
<body>
<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
<script>
  (function (src) {
    var a = document.createElement("script");
    a.type = "text/javascript";
    a.async = true;
    a.src = src;
    var b = document.getElementsByTagName("script")[0];
    b.parentNode.insertBefore(a, b)
  })("https://experience.tinypass.com/xbuilder/experience/load?aid=rRgpSk2Ipu");
</script>

<script type="text/javascript">
  $(document).ready(function () {
    if (typeof tp !== 'undefined') {
      tp.push(["setContentCreated", "<%= htmlWebpackPlugin.options.date %>"]);
      tp.push(["setContentSection", 'Visualisation']);
      tp.push(["setContentIsNative", false]);
      tp.push(["setCustomVariable", "paywallHit", false]);
      tp.push(["setTags", [<%= htmlWebpackPlugin.options.keywords %>]])
    }
  });
</script>

<header>
  <ul class="pull-right social-buttons">
    <li>
      <button data-type="twitter" aria-label="Partager sur Twitter">
        <i class="fab fa-twitter" aria-hidden="true"></i>
      </button>
    </li>
    <li>
      <button>
        <a class="facebook" target="_blank"
           href="https://www.facebook.com/share.php?u=<%= htmlWebpackPlugin.options.url %>">
          <i class="fab fa-facebook"></i>
        </a>
      </button>
    </li>
  </ul>
  <a href="https://www.ledevoir.com">
    <img alt="Le Devoir" src="assets/img/logo-devoir.svg">
  </a>
  <!-- TITRE DE L'ARTICLE EN RAPPEL (ne pas modifer) -->
  <h1 class="article-reminder"><%= htmlWebpackPlugin.options.title %></h1>
  <div class="progress"></div>
</header>
<main>
  <section class="full-page intro-background">
    <div class="intro-section">
      <h1><%= htmlWebpackPlugin.options.title %></h1> <!-- TITRE DE L'ARTICLE (ne pas modifer) -->
      <address> <!-- AUTEURS ET DATE DE PUBLICATION (ne pas modifer) -->
        <div class="authors">Par <%= htmlWebpackPlugin.options.authors %></div>
        <div class="date"><%= htmlWebpackPlugin.options.date %></div>
      </address>
      <p>
      Depuis les dernières élections provinciales, le Parti conservateur du Québec (PCQ) a réussi à attirer une nouvelle
      cohorte de donateurs pour remplir ses coffres. Le Devoir a analysé l’ensemble des contributions versées aux entités
      politiques québécoises ces huit dernières années. Parmi ceux qui ont donné au PCQ, 94 % sont de nouveaux donateurs,
      soit des citoyens qui ont effectué leur tout premier don depuis 2019.
      </p>
    </div>
  </section>
  <!-- Nouveau donateur vs Ancien donateur -->
  <section class="viz-section">
    <div class="steps">
      <section>
        <p>L’écart est frappant : à peine 700 des 13 354 donateurs du PCQ avaient déjà fait une contribution à un parti
          politique dans le passé. En ayant mobilisé une proportion aussi considérable de nouveaux partisans, le Parti
          conservateur se différencie de ses adversaires qui, eux, comptent davantage de donateurs de plus longue
          date.</p>
      </section>
      <section>
        <p>Québec solidaire (QS), le Parti québécois (PQ) et le Parti libéral du Québec (PLQ) comptent tous plus de 70 %
          de ces donateurs, tandis que la Coalition avenir Québec (CAQ) de François Legault comptabilise presque autant
          d’anciens que de nouveaux donateurs depuis son arrivée au pouvoir.</p>
      </section>
      <section>
        <p>« Ça peut vouloir dire que le PCQ est capable de mobiliser un électorat qui était justement un peu en
          retrait, qui n’était pas prêt à s’engager. Ça ne veut pas dire qu’ils ne votaient pas, mais ça peut être un
          signe qu’ils étaient peu mobilisés par les questions politiques », observe le professeur de science politique
          au Campus Saint-Jean de l’Université de l’Alberta, Frédéric Boily.</p>
      </section>
      <section>
        <p>Parmi cette écrasante majorité des nouveaux donateurs, 17 % ont donné plus d’une fois durant les quatre
          dernières années. Les autres ont plutôt choisi de financer le parti une seule fois — ou à coups de quelques
          contributions au sein d’une seule année.
          <br><br>
          Notons toutefois que ces donateurs n’ont peut-être pas encore eu l’occasion de contribuer à nouveau,
          considérant que la presque totalité des dons récoltés par le parti au cours des huit dernières années l’a été
          en 2021 et 2022.
        </p>
      </section>
    </div>
    <div class="viz" id="viz">
      <div class="chart">
        <div class="inner">
          <h3>Donateurs selon l'allégeance politique</h3>
          <div class="wrapper" id="nouveau_donateur">

          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  IMAGE DUHAIME-->
  <section class="full-page-section">
    <div class="title">
      <img
        src="./assets/img/2022-04-26_Scroller_Duhaime_Illus-01_V02.jpg"
        class="lazy"
        alt="Portrait d'Éric Duhaime"
      />
    </div>

  </section>
  <section class="text-section">
    <p>
      Avec 7438 dons amassés depuis le début de l’année, le PCQ a déjà récolté 21 fois plus de dons qu’en 2018. De
      quelle façon ce parti, dont la formation était pourtant marginale au dernier scrutin, a-t-il réussi à courtiser
      cette foule de nouveaux venus ?
      <br><br>
      L’élection d’Éric Duhaime à la chefferie du parti, la notoriété dont il bénéficie et son opposition aux mesures
      sanitaires dans le contexte de la pandémie de COVID-19 ont certainement été des facteurs qui ont contribué à la
      montée du parti, selon les experts consultés par <i>Le Devoir</i>.
      <br><br>
      « Ce qui manquait au PCQ, c’était d’avoir une figure connue, d’avoir un chef avec un certain charisme qui est
      capable d’aller chercher l’intérêt. Auparavant, les chefs [du PCQ] étaient peu connus, alors que le fait d’avoir
      une figure publique, c’est très certainement un atout », croit la professeure de l’Université d’Ottawa en sciences
      politiques Geneviève Tellier.
      <br><br>
      La politologue ajoute que l’effet de la pandémie de COVID-19 n’est pas à négliger puisque la crise a poussé
      plusieurs citoyens à manifester leurs insatisfactions. Éric Duhaime — élu chef en avril 2021 — et son parti sont
      alors devenus un « mécanisme » pour le faire.
      <br><br>
      L’année 2021 a par ailleurs été marquée par un bond substantiel du nombre de dons pour le PCQ, avec 7162
      contributions récoltées. C’est plus de 5 fois plus que l’année d’avant, et même 80 fois plus que deux années
      auparavant, en 2019.
      <br><br>
      Le phénomène est par ailleurs observable parmi les autres partis « de droite », souligne le professeur Frédéric
      Boily. « Ils parviennent souvent à mobiliser des électeurs qui estiment que l’offre politique est insuffisante,
      que [les autres partis] ne disent pas les vraies choses, qu’ils ne mènent pas les véritables combats. Par
      conséquent, les partis politiques qui sont un peu plus à la marge de la droite traditionnelle parviennent parfois
      à réveiller et à canaliser ce sentiment-là. »
    </p>
  </section>

  <!--  DEBUT SECTION 2-->
  <section class="full-page viz-section">
    <div class="steps">
      <section>
        <h1>Mettre le parti sur la carte</h1>
        <p>En ce début d’année électorale, le PCQ se démarque considérablement de ses adversaires en nombre de dons
          amassés. En quatre mois, le parti a pris bien de l’avance sur ses concurrents, avec près de 7500 contributions
          en poche.
        </p>
      </section>
      <section>
        <p>Loin derrière lui se trouve le PQ avec 2975 dons, QS avec 1949 dons et la CAQ de François Legault avec 1269
          dons. Le PLQ arrive au bas de la liste, avec 889 dons accumulés depuis le début de l’année. Ces résultats
          reflètent-ils un intérêt marqué pour le PCQ à l’approche de la campagne ?
        </p>
      </section>
      <section>
        <p>Pour la professeure Geneviève Tellier, il s’agirait surtout d’une question de stratégie de financement. « Ça
          se peut que pour les autres partis, ce soit une stratégie d’attendre et de faire les levées de fond plus tard,
          pour motiver les troupes plus près des élections. À vouloir partir trop tôt, ceux qui ont donné [tôt dans
          l’année] vont peut-être moins penser aux élections en octobre. »
        </p>
      </section>
    </div>
    <div class="viz " id="viz">
      <div class="chart">
        <div class="inner">
          <h3>Nombre de dons par année pour les cinqs principaux partis politiques</h3>
          <div class="wrapper" id="nbr_dons">

          </div>
          <small style="margin-top:-2%; padding-left: 17%">* Pour 2022, les données vont du 1er janvier au 13 avril</small>
        </div>
      </div>
    </div>
  </section>

  <!--  IMAGE carte membre-->
  <section class="full-page-section">
    <div class="title" style="max-width: 800px; margin: 0 auto;">
      <img
        src="./assets/img/2022-04-26_Scroller_Duhaime_Illus-02_V02.jpg"
        class="lazy"
        alt="Carte de membre"
      />
    </div>
  </section>

  <section class="text-section">
    <p>
      Même si, en ce qui concerne le nombre de dons cumulés, l’avance du PCQ peut diminuer au fil des prochains mois, la
      recherche hâtive de financement pourrait bien s’avérer un atout pour le parti. « C’est quand même une bonne
      stratégie parce que ça les met sur la carte. Ça montre qu’il y a un certain sérieux, ce qui est souvent le grand
      problème avec les formations politiques », affirme Frédéric Boily.
      <br><br>
      Force est de constater que le parti a bel et bien été « mis sur la carte » depuis l’arrivée d’Éric Duhaime. L’an
      dernier, le nombre de ses membres est passé de 500 à 37 000, selon une déclaration du chef en octobre 2021. On
      compterait maintenant 57 346 membres en date du 17 avril 2022, toujours selon les chiffres du parti.
      <br><br>
      La formation d’Éric Duhaime rassemble aujourd’hui plus de membres que tous les autres partis — la CAQ comptait
      « dans les environs de 50 000 membres » au début de l’année 2022, et le PQ 42 665 en date du 9 mars. Le Parti
      libéral du Québec (PLQ), qui avait atteint un creux historique de quelque 20 000 membres au début de l’année 2020,
      n’a pas voulu confirmer ses chiffres les plus récents au <i>Devoir</i>.
    </p>
  </section>

  <section class="viz-section">
    <div class="steps">
      <section>
        <h1>Allocations</h1>
        <p>L’écart entre le nombre de dons collectés par le PCQ et ceux des autres partis pourrait aussi s’expliquer par
          le peu d’allocations qui leur sont accordées, croit Jean-François Godbout, professeur titulaire au Département
          de science politique de l’Université de Montréal.
          <br><br>
          « Le financement des allocations avantage les partis qui ont obtenu beaucoup de votes aux dernières
          élections. Ils peuvent être hyper impopulaires dans les sondages, mais ils vont quand même continuer à
          recevoir leurs chèques jusqu’à la prochaine élection. Éric Duhaime et son équipe, eux, doivent faire ça
          autrement pour se financer, ils n’ont pas le choix », explique-t-il.
        </p>
      </section>
      <section>
        <p>Rappelons qu’aucun des 101 candidats du Parti conservateur du Québec n’a été élu lors des dernières élections
          provinciales. Le parti, qui n’avait récolté que 1,46 % des voix, a ainsi reçu un peu moins de 150 000 $ en
          allocations en 2021, derrière le Parti vert du Québec et toutes les autres principales formations politiques.
        </p>
      </section>
    </div>
    <div class="viz" id="viz">
      <div class="chart">
        <div class="inner">
          <h3 style="padding-left: 12%">Allocations versées du 1<sup>er</sup> janvier au 31 décembre 2021</h3>
          <div class="wrapper" id="hbar_allocation">

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="full-page with-numbers">
    <section class="centered numbers">
      <div class="inner">
        <h2>52,25&nbsp$ </h2>
        <small>
          C’est la valeur moyenne des dons faits
          au Parti conservateur du Québec en 2022.
        </small>
      </div>
    </section>
  </section>


  <!--  DEBUT SECTION 3-->
  <section class="viz-section">
    <div class="steps">
      <section>
        <h1>Champion des petits dons </h1>
        <p>ien que plus nombreux, les dons faits au PCQ sont néanmoins les plus petits : en moyenne, le don moyen versé
          au parti d’Éric Duhaime était de 52,25 $ depuis le début de l’année.
        </p>
      </section>
      <section>
        <p>C’est moins que la moitié des montants moyens reçus par les autres partis, qui récoltent tous des dons moyens
          de plus de 100 $. La CAQ du premier ministre François Legault surpasse tous les autres concurrents, avec un
          don moyen à la hauteur de 138 $.
        </p>
      </section>
      <section>
        <p>Ces « petits » dons seraient le résultat de la stratégie singulière du PCQ, selon la professeure de science
          politique Geneviève Tellier. « Ce qu’on appelle l’effet <i>grassroot</i> politique, c’est d’aller chercher des
          électeurs à la base, qui ne sont ni mobilisés ni très à l’aise financièrement. On n’est pas dans le secteur
          financier, le commerce ou les grands secteurs économiques, mais plus dans un activisme “populiste” où on va
          chercher des contributions à coups de 5, 10 ou 15 $. »</p>
      </section>
      <section>
        <p>
          « En étant constamment en contact avec nos partisans et nos membres et en leur demandant de petits montants,
          on les écoute en même temps et on sait pour quelle cause ils vont donner leur appui. Ça nous permet de nous
          adapter rapidement », ajoute Geneviève Tellier.
          <br><br>
          Ces résultats sont donc tout à fait en lien avec ce que le parti d’Éric Duhaime cherche à faire, selon la
          professeure : « Taper sur le mécontentement des gens fréquemment, et à petite dose. »
        </p>
      </section>
      <section>
        <p>Petites sommes ne sont toutefois pas synonymes de mauvaises nouvelles, souligne-t-elle. « Si les dons moyens
          sont plus petits, mais que les sommes amassées sont quand même plus grandes, ça veut dire qu’ils ont été
          capables d’aller rejoindre beaucoup de gens. »
          <br><br>
          Certes, malgré les petites sommes recueillies, le parti d’Éric Duhaime a déjà amassé plus de 388 000 $ auprès
          de ses donateurs depuis le début de l’année.
        </p>
      </section>
      <section>
        <p>Le PCQ se classe ainsi juste devant le PQ, qui a reçu 319 000 $ de ses partisans depuis le début de l’année.
          C’est d’ailleurs le parti souverainiste qui avait réalisé le meilleur financement issu des donateurs lors des
          dernières élections sous Jean-François Lisée, avec 1,33 million de dollars.
        </p>
      </section>
    </div>
    <div class="viz" id="viz">
      <div class="chart">
        <div class="inner">
          <h3 id="h3Viz4">Valeur moyenne des dons par année pour chaque parti</h3>
          <div class="wrapper" id="mean_dons_annees">

          </div>
          <small style="margin-top:-2%; ; padding-left: 17%;">* Pour 2022, les données vont du 1er janvier au 13 avril</small>

        </div>
      </div>
    </div>
  </section>

  <section class="viz-section">
    <div class="steps">
      <section>
        <h1>La prochaine opposition ?</h1>
        <p>Le bastion d’Éric Duhaime se situe sans contredit dans la région de la ville de Québec et ses abords. Le chef
          du PCQ tentera de gagner la circonscription de Chauveau, située dans la région de la Capitale-Nationale, cet
          automne.
          <br><br>
          Au prorata de population, c’est dans la ville de Lévis que l’on retrouve le plus grand nombre de donateurs au
          PCQ depuis 2015, avec 57 dons par 10 000 habitants.
        </p>
      </section>
      <section>
        <p>Même si Montréal se classe au deuxième rang pour le nombre total de dons (après Québec), la métropole arrive
          au dixième rang en ratio de population.</p>
      </section>
      <section>
        <p>Reste que le PCQ compte des appuis dans plusieurs autres villes de la province — même dans des régions plus
          éloignées, comme le Saguenay. La ville d’à peine 150 000 habitants est la cinquième en importance dans la
          province quant au nombre de dons effectués au PCQ par habitant.
          <br><br>
          « C’est une position élevée et c’est important, parce qu’il faut se souvenir qu’avant, le
          Saguenay–Lac-Saint-Jean était une région essentiellement dominée par le PQ. Pour le PCQ, d’avoir des appuis
          régionaux dans des régions pas très éloignées de Québec et Lévis, ça peut être un avantage », croit le
          politologue Frédéric Boily.
        </p>
      </section>
      <section>
        <p>« C’est une position élevée et c'est important parce qu’il faut se souvenir qu’avant, le
          Saguenay–Lac-Saint-Jean c’était une région dominée par le PQ essentiellement. Pour le PCQ, d'avoir des
          appuis régionaux dans des régions pas très éloignées de Québec et Lévis, ça peut être un avantage », croit
          le politologue Frédéric Boily.</p>
      </section>
    </div>
    <div class="viz" id="viz">
      <div class="chart">
        <div class="inner">
          <h3 style="padding-left: 22%">Top 10 des villes avec le plus de dons </h3>
          <small style="padding-left: 22%">Le nombre de dons est normalisé par 10 000 habitants</small>
          <div class="wrapper" id="hbar_don_ville">

          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  IMAGE macarons-->
  <section class="full-page-section">
    <section class="full-page-section">
      <div class="title">
        <img
          src="./assets/img/2022-04-26_Scroller_Duhaime_Illus-03_V02.jpg"
          class="lazy"
          alt="Macaron"
        />
      </div>
    </section>
  </section>

  <section class="text-section">
    <p>
      Mais l’atout principal pour un parti comme le PCQ, c’est d’avoir ses appuis concentrés dans certaines régions,
      selon le professeur de l’Université de l’Alberta.
      <br><br>
      Avoir une importante base militante dans la région de Québec — là où Éric Duhaime s’est d’ailleurs fait connaître
      du grand public à la radio — pourrait donc être à l’avantage de son parti, croit M. Boily, qui fait la comparaison
      avec le Parti populaire de Maxime Bernier, au fédéral.
      <br><br>
      « C’était justement ça, son grand problème : [ses appuis] étaient trop éparpillés sur l’ensemble du territoire. Il
      vaut mieux, dans une première phase, être concentré dans certains endroits pour être capable d’en tirer des gains
      électoraux. »
      <br><br>
      Des gains électoraux, ce sera là le défi pour le parti. Car s’il a réussi à mobiliser de nouveaux donateurs et à
      recruter des milliers de nouveaux membres, encore faut-il que ces nouveaux partisans se rendent au bureau de vote
      en octobre. Le feront-ils ? La question se pose, selon Geneviève Tellier de l’Université d’Ottawa.
      <br><br>
      « Ce sont des gens qui sont contre l’<i>establishment</i>, contre les règles actuelles, ils ne sont donc pas portés à
      participer à ce système-là et à prendre le temps d’aller voter, puisqu’ils dénoncent les institutions et les
      résultats des élections », argue-t-elle. Or, il reste possible que le nouveau chef soit capable d’aller chercher
      les gens « cyniques et insatisfaits » et de les faire voter, ajoute-t-elle.
      <br><br>
      Ce ne sont d’ailleurs pas que les électeurs qui s’opposent aux mesures sanitaires qui risquent d’appuyer le parti
      : « [Éric Duhaime] a commencé à changer son discours. Au début, c’était très anti-mesures sanitaires, mais
      dernièrement, il parle plus des questions de santé, d’ouvrir ça au secteur privé… C’est plus une attaque contre
      l’État en général, ça risque d’attirer les gens à plus long terme », observe Mme Tellier.
      <br><br>
      Pour Frédéric Boily, le PCQ devra maintenant trouver de bons candidats pour garder son « sérieux ». « C’est
      vraiment une étape fondamentale, parce que si on réussit à attirer des candidats assez solides, même si on ne leur
      accorde pas nécessairement la victoire, ça vient donner encore plus de force du parti, comme quoi il est en train
      de s’imposer comme étant possiblement la véritable opposition officielle », conclut-il.
    </p>
  </section>

</main>
<footer>
  <div>
    <!-- MENTION À L'INFOGRAPHIE OU LA COLLABORATION. À MODIFIER AU BESOIN. -->
    <p>
      <%= htmlWebpackPlugin.options.authorsRoles %>
    </p>
  </div>
</footer>

<script type="text/javascript" src="assets/lib/social.min.js"></script>
</body>
</html>
